<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.cgds.rest.orginfo.OrgInfoRepository">

    <select id="selectListStore" parameterType="vn.cgds.rest.orginfo.query.SearchStorePrt"
            resultType="vn.cgds.rest.orginfo.query.SearchStoreRss">
        /* vn.cgds.rest.orginfo.OrgInfoRepository.selectListStore */
        SELECT  oi.ID                                           id,
                oi.ORG_ID                                       companyId,
                oi.NAME                                         name,
                oi.SHORT_NAME                                   shortName,
                oi.REGION_CODE                                  regionCode,
                oi.REGION_NAME                                  regionName,
                oi.REGION_PREFIX                                regionPrefix,
                oi.DISTRICT_CODE                                districtCode,
                oi.DISTRICT_NAME                                districtName,
                oi.DISTRICT_PREFIX                              districtPrefix,
                oi.ADDRESS                                      address,
                oi.MAP_URL                                      mapUrl,
                oi.WEBSITE                                      website,
                oi.EMAIL                                        email,
                oi.PHONE_NUMBER                                 phoneNumber,
                oi.AVATAR                                       avatar,
                oi.MAP_IMAGE                                    mapImageUrl,
                IF(oip.IS_ACTIVE = 'YES',oi.IS_ACTIVE, 'NO')    isActive
        FROM ORG_INFO oi INNER JOIN ORG_INFO oip ON oi.ORG_ID = oip.ID AND oip.IS_DELETED = 'NO'
        WHERE   oi.TYPE = 'STORE'
            AND oi.IS_DELETED = 'NO'
        <if test="regionCode != ''">
            AND oi.REGION_CODE = #{regionCode}
        </if>
        <if test="districtCode != ''">
            AND oi.DISTRICT_CODE = #{districtCode}
        </if>
        <if test="textSearch != ''">
            <bind name="pattern" value="'%' + textSearch + '%'"/>
            AND (oi.NAME LIKE #{pattern} COLLATE #{collate} OR oi.PHONE_NUMBER LIKE #{pattern})
        </if>
        ORDER BY oi.NAME COLLATE #{collate}
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCountStore" parameterType="vn.cgds.rest.orginfo.query.SearchStorePrt" resultType="Long">
        /* vn.cgds.rest.orginfo.OrgInfoRepository.selectCountStore */
        SELECT COUNT(oi.ID)
        FROM ORG_INFO oi INNER JOIN ORG_INFO oip ON oi.ORG_ID = oip.ID AND oip.IS_DELETED = 'NO'
        WHERE   oi.TYPE = 'STORE'
            AND oi.IS_DELETED = 'NO'
        <if test="regionCode != ''">
            AND oi.REGION_CODE = #{regionCode}
        </if>
        <if test="districtCode != ''">
            AND oi.DISTRICT_CODE = #{districtCode}
        </if>
        <if test="textSearch != ''">
            <bind name="pattern" value="'%' + textSearch + '%'"/>
            AND (oi.NAME LIKE #{pattern} COLLATE #{collate} OR oi.PHONE_NUMBER LIKE #{pattern})
        </if>
    </select>

    <select id="selectOneStore" parameterType="String" resultMap="mapSelectOneStore">
        /* vn.cgds.rest.orginfo.OrgInfoRepository.selectOneStore */
        SELECT oi.ID                                         id,
               oi.ORG_ID                                     companyId,
               oi.NAME                                       name,
               oi.SHORT_NAME                                 shortName,
               oi.REGION_CODE                                regionCode,
               oi.REGION_NAME                                regionName,
               oi.REGION_PREFIX                              regionPrefix,
               oi.DISTRICT_CODE                              districtCode,
               oi.DISTRICT_NAME                              districtName,
               oi.DISTRICT_PREFIX                            districtPrefix,
               oi.ADDRESS                                    address,
               oi.MAP_URL                                    mapUrl,
               oi.WEBSITE                                    website,
               oi.EMAIL                                      email,
               oi.PHONE_NUMBER                               phoneNumber,
               oi.AVATAR                                     avatar,
               oi.MAP_IMAGE                                  mapImageUrl,
               om.CID                                        cid,
               IF(oip.IS_ACTIVE = 'YES', oi.IS_ACTIVE, 'NO') isActive
        FROM ORG_INFO oi
                 INNER JOIN ORG_INFO oip ON oi.ORG_ID = oip.ID AND oip.IS_DELETED = 'NO'
                 LEFT JOIN ORG_POSITION op
                           ON oi.ID = op.ORG_ID AND op.IS_SHOP_ASSISTANT = 'YES' AND op.IS_DELETED = 'NO'
                 LEFT JOIN ORG_MEMBER om ON op.ID = om.POSITION_ID AND om.IS_DELETED = 'NO'
        WHERE oi.TYPE = 'STORE'
          AND oi.IS_DELETED = 'NO'
          AND oi.ID = #{id}
    </select>

    <resultMap id="mapSelectOneStore" type="vn.cgds.rest.orginfo.query.StoreDetailRss">
        <result property="id" column="id"/>
        <result property="companyId" column="companyId"/>
        <result property="name" column="name"/>
        <result property="shortName" column="shortName"/>
        <result property="regionCode" column="regionCode"/>
        <result property="regionName" column="regionName"/>
        <result property="regionPrefix" column="regionPrefix"/>
        <result property="districtCode" column="districtCode"/>
        <result property="districtName" column="districtName"/>
        <result property="districtPrefix" column="districtPrefix"/>
        <result property="address" column="address"/>
        <result property="mapUrl" column="mapUrl"/>
        <result property="website" column="website"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="avatar" column="avatar"/>
        <result property="mapImageUrl" column="mapImageUrl"/>
        <result property="isActive" column="isActive"/>
        <collection property="cids" ofType="java.lang.String">
            <result column="cid"/>
        </collection>
    </resultMap>

    <select id="selectListLocalCompany" resultType="vn.cgds.rest.orginfo.query.SelectLocalCompanyRss">
        /* vn.cgds.rest.orginfo.OrgInfoRepository.selectListLocalCompany */
        SELECT ID          id,
               NAME        name,
               REGION_NAME regionName,
               IS_ACTIVE   isActive
        FROM ORG_INFO
        WHERE TYPE = 'LOCAL'
          AND IS_DELETED = 'NO'
    </select>

    <select id="selectLocalCompanyDetail" parameterType="vn.cgds.rest.orginfo.query.SelectLocalDetailPrt"
            resultType="vn.cgds.rest.orginfo.query.SelectLocalDetailRss">
        /* vn.cgds.rest.orginfo.OrgInfoRepository.selectLocalCompanyDetail */
        SELECT ORG.ID                       AS id,
               ORG.SHORT_NAME               AS shortName,
               ORG.NAME                     AS name,
               ORG.BUSINESS_CODE            AS businessCode,
               ORG.REPRESENTATIVE_CID       AS representativeCId,
               ORG.TYPE                     AS type,
               ORG.REGION_CODE              AS regionCode,
               ORG.REGION_NAME              AS regionName,
               ORG.REGION_PREFIX            AS regionPrefix,
               ORG.DISTRICT_CODE            AS districtCode,
               ORG.DISTRICT_NAME            AS districtName,
               ORG.DISTRICT_PREFIX          AS districtPrefix,
               ORG.ADDRESS                  AS address,
               ORG.EMAIL                    AS email,
               ORG.PHONE_NUMBER             AS phoneNumber,
               ORG.WEBSITE                  AS website,
               (CASE
                    WHEN ORG.IS_ACTIVE = 'YES' AND ORG.TYPE = 'STORE'
                        THEN COMPANY.IS_ACTIVE
                    ELSE ORG.IS_ACTIVE END) AS isActive,
               ORG.CDN_OWNER_ID             AS cdnOwnerId,
               ORG.MAP_URL                  AS mapUrl,
               ORG.ADL_API                  AS adlApi,
               ORG.AVATAR                   AS avatar,
               ORG.AVATAR_CDN_FILE_ID       AS avatarCdnFileId,
               ORG.MAP_IMAGE                AS mapImage,
               ORG.MAP_IMAGE_CDN_FILE_ID    AS mapImageCdnFileId,
               ORG.STORE_IMAGE              AS storeImage,
               ORG.STORE_IMAGE_CDN_FILE_ID  AS storeImageCdnFileId,
               COMPANY.ID                   AS companyId,
               COMPANY.NAME                 AS companyName,
               COMPANY.IS_ACTIVE            AS companyIsActive

        FROM ORG_INFO ORG
                 LEFT JOIN ORG_INFO COMPANY ON ORG.ORG_ID = COMPANY.ID
        WHERE ORG.ID = #{orgId}
          AND ORG.TYPE = 'LOCAL'
          AND ORG.IS_DELETED = 'NO'
    </select>

    <select id="selectLocalStoreList" parameterType="vn.cgds.rest.orginfo.query.SelectLocalStoreListPrt"
            resultType="vn.cgds.rest.orginfo.query.SelectLocalStoreListRss">
        /* vn.cgds.rest.orginfo.OrgInfoRepository.selectLocalStoreList */
        SELECT oi.ID                                         id,
               oi.ORG_ID                                     companyId,
               oi.NAME                                       name,
               oi.SHORT_NAME                                 shortName,
               IF(oip.IS_ACTIVE = 'YES', oi.IS_ACTIVE, 'NO') isActive
        FROM ORG_INFO oi
                 INNER JOIN ORG_INFO oip ON oi.ORG_ID = oip.ID AND oip.IS_DELETED = 'NO'
        WHERE oi.TYPE = 'STORE'
          AND oi.IS_DELETED = 'NO'
          AND oi.ORG_ID = #{localId}
        ORDER BY LOWER(oi.NAME)
    </select>

</mapper>
